<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">釣果投稿</h2>
      
        <%# 部分テンプレートで釣果投稿一覧を表示 %>
        <%= render partial: "form", locals: { result: @result } %>
    </div>
  </div>
</div>